<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head-meta') %>
  <title>Home | GTD Weekly Review</title>
</head>
<body>
  <h1><abbr title="Getting Things Done">GTD</abbr> Weekly Review</h1>

  <p>
    <% if (user) { %>
    <a href="/auth/logout">Logout</a>
    <% } else { %>
    <a href="/auth/login">Login</a>
    <% } %>
  </p>

  <%- include('partials/github-fork') %>
</body>
</html>