<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Todoist Weekly Review</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1><abbr title="Getting Things Done">GTD</abbr> Weekly Review</h1>
  <p>
    <% if (user) { %>
    <a href="/auth/logout">Logout</a>
    <% } else { %>
    <a href="/auth/login">Login</a>
    <% } %>
  </p>
</body>
</html>