<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head-meta') %>
  <title>Home | GTD Weekly Review</title>
</head>
<body>
  <h1><abbr title="Getting Things Done">GTD</abbr> Weekly Review</h1>

  <ul>
  <% if (user) { %>
    <li><a href="/weekly-review">Weekly Review</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  <% } else { %>
    <li><a href="/auth/login">Login</a></li>
  <% } %>
  </ul>

  <%- include('partials/footer') %>
</body>
</html>