<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head-meta') %>
  <title>Login | GTD Weekly Review</title>
</head>
<body>
  <h1><abbr title="Getting Things Done">GTD</abbr> Weekly Review</h1>

  <a href="/auth/todoist">Login to Todoist</a>

  <%- include('partials/github-fork') %>
</body>
</html>