<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login | Todoist Weekly Review</title>
</head>
<body>
  <h1>Todoist Weekly Review</h1>

  <a href="/auth/todoist">Login to Todoist</a>
</body>
</html>